*{
    margin: 0;
    padding: 0;
}
/* nanbar */
/* nav_row1 */
.nav_row1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 45px;
}
/* left_nav */
.left_nav{
    margin-left: 60px;
    display: flex;
    position: relative;
}
/* left_nav input */
.left_nav input{
    border: none;
    width: 250px;
    padding-left: 40px;
    transition: 0.6s;
    height: 30px;
}
.left_nav input:focus{
    outline: none;
    padding-left: 25px;
}
.left_nav input::placeholder{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(152, 152, 152);
}
.left_nav i{
    position: absolute;
    color: rgb(167, 167, 167);
    bottom: 9px;
}
/* for display the "x" icon */
.search-icon {
    display: none;
}
/* midle_nav */
.midle_nav{
    width: 155px;
    height: 45px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.midle_nav a{
    text-decoration: none;
}
.midle_nav button{
    width: 150px;
    height: 40px;
    background-color: white;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 2px purple;
}
.midle_nav button:hover{
    box-shadow: 0px 0px 7px purple;
}
/* right_nav */
.right_nav{
    margin-right: 60px;
    width: 150px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right_nav a{
    text-decoration: none;
    color: rgb(129, 129, 129);
    transition: 0.4s;
    margin: 10px;
}
.right_nav a:hover{
    text-decoration: none;
    color: black;
    transition: 0.4s;
}
.right_nav .last_icon .number{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: purple;
    font-size: 0.9rem;  
    top: -9px;
    right: 10px;
    transition: 0.3s;
}
.right_nav .last_icon:hover .number{
    top: -13px;
    box-shadow: 0px 2px 6px black;
}
/* line */
.line{
    border: none;
    border-top: 1px solid rgb(236, 236, 236);
    width: 100%;
    margin-top: 50px
}
/* nav_row2 */
.nav_row2{
    margin-left: 40px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.nav_row2 ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_row2 ul li{
    position: relative;
}
.nav_row2 ul li .fa-angle-down{
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    font-size: 13px;
    right: 0;
}
.nav_row2 ul li a{
    display: block;
    padding: 20px 25px;
    position: relative;
    color: rgb(67, 67, 67);
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: sans-serif;
}
.nav_row2 ul li a:hover{
    color: purple;
}
.nav_row2 ul li:hover{
    color: purple;
}
.nav_row2 ul li .dropdown{
    margin-top: -5px;
    position: absolute;
    z-index: 2;
    display: none;
    border-top: 2px solid purple;
    background-color: white;
}
.nav_row2 ul li .dropdown li {
    width: 230px;
    display: block;
}
.nav_row2 ul li .shop{
    color: purple;
}
.nav_row2 ul li .dropdown li:hover {
    background-color: rgb(231, 231, 231);
}
.nav_row2 ul li .dropdown li a{
    padding: 10px 0px;
    text-align: center;
    width: 120px;
    font-size: 15px;
    font-weight: 400;
    justify-content: flex-start;
    display: block;
    color: rgb(177, 177, 177);
}
.nav_row2 ul li:hover ul.dropdown {
    display: block;
}
/* nav_row3 */
.nav_row3{
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(244, 243, 243);
    padding:0px 200px ;
}
.nav_row3 ul{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    list-style: none;
}
.nav_row3 ul li{
    margin: 0 2px;
    font-size: 20px;
}
.nav_row3 ul li h4{
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
}
.nav_row3 ul li a{
    text-decoration: none;
    margin: 0 5px;
    font-size: 15px;
    font-weight: 300;
    font-family: sans-serif;
    transition: 0.4s;
}
.nav_row3 ul li .home{
    color: purple;
}
.nav_row3 ul li a:hover{
    color: purple;
}
/* landing1 */
.landing1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
}
/* left_landing1 */
.left_landing1{
    position: relative;
    margin-top: -65%;
    margin-left: 160px;
    width: 280px;
}
.left_landing1 ul{
list-style: none;
}
/* catrgories */
.catrgories{
    height: 170px;
    padding: 20px;
    box-shadow: 0px 0px 2px black;
}
.catrgories ul li h2{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.catrgories ul li h3{
    color: purple;
    font-size: 1.2rem;
    display: inline-block;
    font-weight: 500;
    width: 80px;
    margin-right: 100px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.catrgories ul li h3:hover{
    cursor: pointer;
    color: blue;
}
.catrgories ul li .number{
    font-size: 0.8;
    font-weight: 200;
}
.catrgories ul li .number:hover {
    cursor: pointer;
}
/* left_landing1_filter */
.left_landing1_filter{
    height: 450px;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0px 0px 2px black;
}
.filter_by_price{
    margin-bottom: 20px;
    position: relative;
}
.filter_by_price h2{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.filter_by_price .border1{
  width: 210px;
  height: 7px;
  border: 1px solid purple;
  border-radius: 5px;
  position: absolute;
    top: 30px;
    left: 0px;
    right: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer; 
}
.filter_by_price .border2{
    width: 120px;
    height: 7px;
    border: 1px solid purple;
    background-color: purple;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    left: 40px;
    right: 0;
    bottom: 0;
    cursor: pointer; 
}
.point2{
    position: absolute;
    top: 26px;
    left: 150px;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: purple;
}
.point1{
    position: absolute;
    top: 26px;
    left: 40px;
    right: 0;
    bottom: 0;
    z-index: 1;
 
    color: purple;
}
.filter_by_price p{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 25px;
    color: rgb(93, 93, 93);
    letter-spacing: 1px;
}
/* filter_by_size */
.filter_by_size{
    padding-top: 20px;    margin-bottom: 20px;
    position: relative;
}
.filter_by_size h2{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.filter_by_size li{
    margin-right: 2px;
    margin-bottom: 15px;
}
.filter_by_size input{
    margin-right: 5px;
}
.filter_by_size label{
    margin-right: 2px;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
/* filter_by_color */
.filter_by_color{
    width: 250px;
    padding-top: 20px; 
    margin-bottom: 20px;
    position: relative;
}
.filter_by_color h2{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.filter_by_color h3{
    display: inline-block;
    font-size: 1rem;
    font-weight: 200;
    margin-left: 5px;
    letter-spacing: 1px;
}
.filter_by_color li{
    margin-right: 2px;
    margin-bottom: 15px;
}
.red{
    color: red;
    font-size: 0.9rem;
}
.green{
    color: green;
    font-size: 0.9rem;
}
.blue{
    color: blue;
    font-size: 0.9rem;
}
.purple{
    color: purple;
    font-size: 0.9rem;
}
/* right_landing1 */
.right_landing1{
    width: 56%;
    margin-right: 170px;
}
/* right_landing1_first_row */
.right_landing1_first_row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.right_landing1_first_row h2{
    font-size: 1.5rem;
    font-weight: 300;
    font-family: sans-serif;
}
.buttons select{
    font-size: 16px; 
    padding: 8px;
    background-color: rgb(207, 207, 207);
    border: 1px solid #ccc;
    border-radius: 0px;
}
.buttons select:hover,
.buttons select:focus {
    outline: none;
    padding-top: -10px;
    box-shadow: 1px 4px 5px black;
    background-color: rgb(220, 220, 220);
    border-color: #666; 
}
.buttons select option{
  font-size: 16px; 
  font-weight: 300;
  padding: 20px;
  margin: 10px;
  background-color:white; 
  color: #333;
}
.buttons select option:hover,
.buttons select option:focus {
  background-color: gray;
  border-color: #666; 
  outline: none;
}
/* right_landing1_second_row  */
.right_landing1_second_row ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 70px 0px  ;
    list-style: none;
}
.right_landing1_second_row li{
    justify-content: flex-start;
    align-items: center;
    margin-right: 83px;
    height: 350px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0px 0px 6px rgb(174, 174, 174);
}
.right_landing1_second_row img{
    width: 250px;
}
.right_landing1_second_row a{
    text-decoration: none;
}
.right_landing1_second_row ul li h3{
    text-align: center;
    border: 1ox solid red;
    margin-top: 45px ;
    color: purple;
    font-size: 1.3rem;
    font-weight: 300;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.right_landing1_second_row h3:hover{
    color: blue;
}
.right_landing1_second_row p{
    text-align: center;
    margin-top: 5px ;
    color: gray;
    font-size: 0.95rem;
    font-weight: 600;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.right_landing1_second_row .price{
    text-align: center;
    margin-top: 5px ;
    color: purple;
    font-size: 1.1rem;
    font-weight: 700;
    font-family: sans-serif;
    letter-spacing: 1px;
}
/* right_landing1_third_row */
.right_landing1_third_row ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right_landing1_third_row ul li{
    margin: 0 2px;

}
.right_landing1_third_row .fa-angle-left{
    font-size: 0.9rem;
    color: purple;
    border: 1px solid grey;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    line-height: 3rem;
}
.right_landing1_third_row .fa-angle-left:hover{
    color: blue;
    cursor: pointer;
}
.right_landing1_third_row .numbers1{
    font-size: 1rem;
    color: white;
    background-color: purple;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    line-height: 3rem;
    cursor: pointer;
}
.right_landing1_third_row .numbers{
    font-size: 1rem;
    color: purple;
    border: 1px solid grey;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    line-height: 3rem;
}
.right_landing1_third_row .numbers:hover{
    color: blue; 
    cursor: pointer;
}
.right_landing1_third_row .fa-angle-right{
    font-size: 0.9rem;
    color: purple;
    border: 1px solid gray;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    line-height: 3rem;
}
.right_landing1_third_row .fa-angle-right:hover{
    color: blue;
}
/* line4 */
.line4{
    border: 1px solid purple;
    width: 50px;
    margin-top: 200px;
    margin-left: 400px;
}
 /* landing2 */
 .landing2{
    margin-top: 00px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.landing2_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: sans-serif;
    letter-spacing: 1px;
}
/* landing2_container */
.landing2_container{
    margin: 0 20px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}
/* landing2_container img */
.landing2_container img{
    width: 400px;
    opacity: 10;
    display: block;
    transition: 0.5s;
}
.landing2_container .gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    z-index: 1;
    cursor: pointer;
}
.landing2_container:hover img{
    transform: scale(1.1);
}
/* landing2_container h4 */
.landing2_container h4{
    position: absolute;
    color: white;
    bottom: 70px;
    left: 25px;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 2px;
    z-index: 3;
    font-family: sans-serif;
}
/* landing2_container h2 */
.landing2_container h2{
    position: absolute;
    color: white;
    font-size: 2.2rem;
    bottom: 20px;
    left: 25px;
    z-index: 3;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: sans-serif;
}

/* footer_store */
.footer_store{
    margin-top: -100px;
    height: 65vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer_store ul{
    list-style: none;
}
/* footer_store h2 */
.footer_store h2{
    font-size: 1.3rem;
    font-weight: 500;
    font-family: sans-serif;
    margin: 30px 0;
}
/* .footer_store p */
.footer_store p{
    font-size: 1.1rem;
    font-weight: 400;
    font-family: sans-serif;
    color: rgb(156, 149, 149);
    line-height: 2.8rem;
    transition: 0.5s;
}
.footer_store p:hover{
    cursor: pointer;
    color: purple;
}
/* footer_container_coulm1 */
.footer_container_coulm1{
    margin-left: 140px;
    margin-top: -20px;
}
/* footer_container_coulm2 */
.footer_container_coulm2{
    margin-top: 22px;
}
/* footer_container_coulm3 */
.footer_container_coulm3{
    margin-top: 22px;
}
/* footer_container_coulm4 */
.footer_container_coulm4 img{
    width: 280px;
    height: 130px;
    border-radius: 5px;
}
.footer_container_coulm4 p{
    color: purple;
    border-radius: 5px;
    transition: 0.5s;
}
.footer_container_coulm4 p:hover{
    color: rgb(71, 71, 243);
}
.footer_container_coulm4 .promo{
    color: rgb(156, 149, 149);
    cursor: pointer;
}
/* footer_container_coulm5 */
.footer_container_coulm5{
    width: 300px;
    height: 400px;
    margin-right: 60px;
    margin-top: 115px;
    position: relative;
}
.footer_container_coulm5 i{
    position: absolute;
    color: purple;
}
.footer_container_coulm5  .fa-location-dot{
    position: absolute;
    top: 87px ;
}
.footer_container_coulm5 ul li .location{
    margin-left: 25px;
    width: 250px;
    font-size: 0.9rem;
    line-height: 1.5rem;
}
.footer_container_coulm5  .fa-phone{
    position: absolute;
    top: 145px ;
}
.footer_container_coulm5 ul li .phone{
    margin-top: 10px;
    margin-left: 25px;
    width: 250px;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.4rem;
}
.footer_container_coulm5  .fa-envelope{
    position: absolute;
    top: 182px ;
}
.footer_container_coulm5 ul li a{
    text-decoration: none;
}
.footer_container_coulm5 ul li .email{
    margin-top: 15px;
    margin-left: 25px;
    width: 250px;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    letter-spacing: 1px;
    line-height: 1.4rem;
}
.footer_container_coulm5 ul li h3{
    margin-top: 70px;
    width: 250px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
    letter-spacing: 1px;
    line-height: 1.4rem;
}
.footer_container_coulm5 ul li input{
    width: 225px;
    height: 50px;
    font-size: 1.2rem;
    border-radius: 4px;
    font-weight: 400;
    color: black;
    letter-spacing: 1px;
    line-height: 1.4rem;
    position: relative;
    border: 1px solid rgb(111, 110, 110);
}
.footer_container_coulm5 ul li input:focus{
    border: 1px solid purple;
    outline: purple;
}
.footer_container_coulm5 ul li input::placeholder{
    padding: 10px;
}
.footer_container_coulm5 ul li button{
    position: absolute;
    bottom: 27px;
    right: 77px ;
    width: 75px;
    height: 45px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 300;
    font-family: sans-serif;
    text-align: center;
    background-color: purple;
    border-color: purple;
    border-radius: 5px;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.4s;
}
.footer_container_coulm5 ul li button:hover{
    background-color: #554dd1;
    border-color: #554dd1;
    box-shadow: 0px 4px 10px black;
}
/* copyright */
.copyright{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright p{
    font-size: 0.9rem;
    font-weight: 500;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: gray;
}
.copyright .fa-heart{
    font-size: 18px;
    text-align: center;
}
.copyright .owner{
    color: purple;
    font-weight: 600;
}
.copyright .owner:hover{
    color: #554dd1;
    font-weight: 600;
    cursor: pointer;
} 

